<div>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Date and Time</th>
        <th>Vehicle Name</th>
        <th>License No.</th>
        <th>Customer Name</th>
        <th>Complaint</th>
        <th>Status</th>
        </thead>

        <tbody>
        <tr ng-repeat="repairOrder in repairOrders | orderBy:'date'"
            ng-click="getRepairOrder(repairOrder)"
            class="{{ repairOrder.status }}">
            <td>{{ repairOrder.id }}</td>
            <td>{{ repairOrder.date }}</td>
            <td>{{ repairOrder.vehicleName }}</td>
            <td>{{ repairOrder.vehicle.license_no }}</td>
            <td>{{ repairOrder.customer.name }}</td>
            <td>{{ repairOrder.complaint }}</td>
            <td>{{ repairOrder.status }}</td>
        </tr>
        </tbody>
    </table>
</div>
